<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zucc.wl1145_mjy1136.personalassistant">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".calendar.CalendarAddActivity" />
        <activity android:name=".calendar.CalendarTodayActivity" />
        <activity android:name=".calendar.CalendarEditActivity" />
        <activity android:name=".calendar.CalendarSpecificActivity" />
        <activity android:name=".alarm.AlarmActivity" >
            <!--<intent-filter>
            <action android:name="package com.zucc.wl1145_mjy1136.personalassistant.alarm.ACTION"/>
            <category android:name="android.intent.category.DEFAULT"></category>
        </intent-filter>-->
        </activity>

        <activity android:name=".InformationActivity"></activity>
        <activity android:name=".expense.ExpenseMainActivity"/>
        <activity android:name=".expense.ExpenseAddActivity"/>
        <activity android:name=".expense.ExpenseCheckActivity"/>
        <activity android:name=".user.LoginActivity"/>
        <activity android:name=".user.RegisterActivity"/>
        <activity android:name=".user.UserMainActivity"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="595c9e5e677baa0fff000565">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="088b7f251945ba6fd465b19341a0f1bc">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" >
        </meta-data>
    </application>

</manifest>